body{
	background-image:url('bg2.jpg');
	background-repeat:repeat-x;
	margin:auto;
	width:1002px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

a{
	color:#EF3B39;
}

a:hover{
	color:#999;
}

#imgtop{
	position:absolute;
	margin-left:235px;
	z-index:0;
	margin-top:150px;
}

.link{
	cursor:pointer;
	font-size:13px;
}

.link:hover{
	color:#999;
}

p, ul.nav{
	z-index:2;
	position:absolute;
	margin-left:30px;
	color:#FFFFFF;

}

p.cmu{
	font-size:25px;

}

p.iff{
	padding-top:20px;
	font-size:35px;
	font-weight:600;
}

p.facesof{
    padding-top:145px;
	font-size:32px;
}

h2{
	padding:0;
	margin-top:0;
	font-weight:normal;
	color:#EF3B39;
}

p.media{
    padding-top:165px;
	font-size:45px;
	margin-left:29px;
	font-weight:600;
}

p.date{
	font-size:25px;
	margin-left: 768px;
}

#buytix{
	margin-left: 792px;
	margin-top:75px;
	font-size:17px;
}

#sponsorfest{
	margin-left: 792px;
	margin-top:111px;
	font-size:17px;
}

#swirl1,#swirl2{
	position:absolute;
	margin-left:758px;
	margin-top:78px;
	width:35px;
}

#swirl2{
	margin-top:112px;
}

ul.nav{
	color:#EF3B39;
	margin-top:300px;
	list-style-type:none;
	padding-left:0;
	font-size:13px;
}

li{
	margin-bottom:12px;
}

li.link:hover{
	color:#999;
}

#arrow{
	position:absolute;
	margin-top:550px;
	margin-left:-5px;
}

#goodman{
	color:#EF3B39;
	margin-top:550px;
	font-size:16px;
}

#goodman:hover{
	color:#999;
}

#out{
	height:50px;
}
				
.contentbox-wrapper{			
	position:relative; 
	left:0; 
	width:7000px; 
}
		
.contentbox{
	margin-top:15px;
	overflow-y:hidden;
	overflow-x:hidden;
	width:700px;
	height:100%; 
	float:left;
	margin-right:250px;	
}	

.contenthome{
	margin-top:15px;
	overflow-y:auto;
	overflow-x:hidden;
	width:520px; 
	height:300px;
	float:left;
	margin-right:250px;	
    margin-left:10px;
}

#wrap{
	overflow:hidden;
	position:absolute;
    margin-left:255px;
	width:730px;
	margin-top:280px;
}

.rot{
	float:left;
}

#p1,#p2,#p3,#p4,#p5{
	position:absolute;
	height:250px;
	width:120px;
}

#p1{
	background-image:url('p1.jpg');
	margin-left:-17px;
}

#p2{
	background-image:url('p2.jpg');
	margin-left:133px;
}

#p3{
	background-image:url('p3.jpg');
	margin-left:256px;
}

#p4{
	background-image:url('p4.jpg');
	margin-left:407px;
}

#p5{
	background-image:url('p5.jpg');
	margin-left:565px;
}

#hometext{
	margin-top:-1px;
	width:750px;
}

#sign_main{
	position:absolute;
	z-index:6;
	width:220px;
	height:130px;
	margin-top:115px;
	margin-left:517px;
	background-image:url('unhighlight_sign.png');
	background-size:95%;
}

#sign_side{
	position:absolute;
	z-index:6;
	width:220px;
	height:130px;
	margin-top:0px;
	margin-left:-100px;
}

#sign_main:hover,#sign_side:hover{
	background-image:url('highlight_sign.png');
	cursor:pointer;
}

#side1{
	margin-left:-195px;
	float:left;
}

#side2{
	margin-left:-195px;
	float:left;
}

#side3{
	margin-left:-195px;
	float:left;
}

#side4{
	margin-left:-190px;
	float:left;
}

#side5{
	margin-left:-192px;
	float:left;
}


